
.page-navbar {
  background-color: $base-color;
  color: #fff;
  min-height: $top-header-height;
  border: none;

  .navbar-nav {
    display: flex;
    align-items: center;
    height: $top-header-height;

    &__item {}

    &__link {
      padding-top: 5px;
      padding-bottom: 5px;
      color: rgba(255,255,255,.8);

      &:hover {
        background: transparent;
        color: rgba(255,255,255,1);
      }

      &:focus {
        background: transparent;
      }
    }
  }
}

.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
  height: $top-header-height;
}

